@media only screen and (max-width : 2500px) {
    .page-wrapper{
      overflow:hidden;
    }
    
}

@media only screen and (max-width : 1199px) {
	.mt-xl-40{
      margin-top:40px;
    }
	.mb-xl-40{
      margin-bottom:40px;
    }
	
}
@media screen and (min-width:992px) and (max-width:1199px) {
	.faq_right_image{
		display:none;
	}
	.atf-service-item.style1{
		display:none ! important;
	}
	.pricng-body.p-5{
		padding:24px;
	}
}
@media only screen and (max-width:992px) {
	.atf-service-box-content br {
		display:none;
	}
}
@media only screen and (max-width:991px) {
    .mt-lg-40{
      margin-top:40px;
    }
	.mb-lg-40{
      margin-bottom:40px;
    }
	.atf-section-title  br{
		display:none;
	}
	.testimonial-slider .slick-dots {
		text-align: center !important;
	}
	.follow-us-container{
		display:none;
	}
	.blogpost-title {
		font-size: 28px ! important;
	}
	.history-box{
		margin:12px 0;
	}
	.pagination-outer.mt-50{
		margin-top:25px;
	}
	
}
@media only screen and (max-width:767px) {
	.atf-cta-title-box br {
		display:none;
	}
	.atf-funfact-item{
		margin:12px 0;
	}
	.atf-hero-content .title {
		font-size: 50px;
		letter-spacing:-1px;
	}
	.atf-footer-area.pb-80 {
		padding-bottom:40px;
	}
	.testimonial-card {
		max-width: 100%;
	}
	.nav-tabs .nav-item .nav-link{
		margin:7px;
	}
}
@media screen and (min-width:320px) and (max-width:575px) {
	.avatars img {
		margin-top: 5px;
	}
	.atf-section-title .title {
		font-size: 28px;
		letter-spacing: 0px;
		line-height: 1.3;
	}
	.atf-hero-content .title {
		font-size: 36px;
		letter-spacing:0px;
	}
	.atf-faq-accordion .card .card-header button {
		font-size: 20px;
		line-height: 1.2;
	}
	.atf-cta-title {
		font-size: 28px;
	}
	.card-title {
		font-size: 16px ! important;
		font-weight:400;
	}
}